/**
 * Button
 */
.itg-button {
	cursor: pointer;
	display: inline-block;
	padding: 1em 2em;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	background-color: unset;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.1s, color 0.1s, box-shadow 0.2s;
	font-family: 'Fira Sans', 'Open Sans', Helvetica, Arial, sans-serif;
}

.itg-button:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

.itg-button:active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.itg-button--light {
	border: 2px solid rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}

.itg-button--light:hover {
	color: rgba(33, 33, 33, 1);
	background-color: rgba(255, 255, 255, 1);
}

.itg-button--dark {
	border: 2px solid rgba(33, 33, 33, 1);
	color: rgba(33, 33, 33, 1);
}

.itg-button--dark:hover {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(33, 33, 33, 1);
}
