/**
 * Card
 */
.itg-card {
	width: 100%;
	padding: 10px;
	background-color: rgba(238, 238, 238, 1);
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
	box-sizing: border-box;
	will-change: box-shadow;
    transition: box-shadow 0.2s;
}

.itg-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.itg-card__title {
    color: rgba(33, 33, 33, 1);
    font-family: 'Fira Sans', 'Open Sans', Helvetica, Arial, sans-serif;
}

.itg-card__supporting-text {
    color: rgba(66, 66, 66, 1);
    font-family: 'Open Sans', 'Fira Sans', Helvetica, Arial, sans-serif;
}