/**
 * Floating action button
 */
.itg-fab {
	width: 54px;
	height: 54px;
	text-align: center;
	border-radius: 50%;
	color: rgba(238, 238, 238, 1);
	background-color: rgba(239, 108, 0, 1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
	cursor: pointer;
	will-change: box-shadow;
    transition: box-shadow 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.itg-fab:hover {
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

.itg-fab:active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.itg-fab__icon {
	text-align: center;
	vertical-align: middle;
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 54px;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}