/**
 * Input
 */
.itg-input {
    width: 6em;
    border: 2px solid transparent;
	padding: 0.4em 0.01em;
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	border-radius: 5px;
	background: none;
    transition: box-shadow 0.2s;
    font-family: 'Fira Sans', 'Open Sans', Helvetica, Arial, sans-serif;
}

.itg-input--full-width {
    width: 100%;
}

.itg-input--half-width {
    width: 50%;
}

.itg-input:focus {
    box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.itg-input--invalid, .itg-input:invalid {
    border: 2px solid rgba(244, 67, 54, 1) !important;
}

.itg-input--light {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.itg-input--dark {
    border: 2px solid rgba(33, 33, 33, 1);
    color: rgba(33, 33, 33, 1);
}

.itg-input::placeholder {
	font-size: 0.8em;
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

.itg-input::-webkit-input-placeholder {
	font-size: 0.8em;
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

.itg-input:-moz-placeholder {
	font-size: 0.8em;
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

.itg-input:-ms-input-placeholder {  
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

.itg-input--light::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.itg-input--light::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.itg-input--light:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.itg-input--light:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.itg-input--dark::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.itg-input--dark::-webkit-input-placeholder {
    color: rgba(33, 33, 33, 0.4);
}

.itg-input--dark:-moz-placeholder {
    color: rgba(33, 33, 33, 0.4);
}

.itg-input--dark:-ms-input-placeholder {
    color: rgba(33, 33, 33, 0.4);
}
