/**
 * Textarea
 */
.itg-textarea {
	width: 100%;
	max-height: 200px;
	border: 2px solid transparent;
	padding: 0.4em 1em;
	font-size: 1em;
	font-weight: 500;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	resize: vertical;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-family: 'Fira Sans', 'Open Sans', Helvetica, Arial, sans-serif;
}

.itg-textarea:focus {
	box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.itg-textarea--invalid, .itg-textarea:invalid {
	border: 2px solid rgba(244, 67, 54, 1) !important;
}

.itg-textarea--light {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
}

.itg-textarea:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.itg-textarea--dark {
    color: rgba(33, 33, 33, 1);
    border: 2px solid rgba(33, 33, 33, 1);    
}

.itg-textarea--dark:focus {
    background-color: rgba(33, 33, 33, 0.1);
    
}
